[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"

[dev-packages]
jedi = "*"
autopep8 = "*"
pylint = "*"
pynvim = "*"

[requires]
python_version = "3.9"
